<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- == google font == -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <!-- == icon == -->

    <!-- == css == -->
    
    <title>Footer</title>
  </head>
  <body>
  
  
  	<!----Navbar Start ------>
  	<th:block th:insert="nav.html"></th:block>
  
   <!----footer Start ------>
    <footer class="footer">
      <div class="container">
        <div class="col1">
          <a href="#" class="brand">Event Arc</a>
          <ul class="media-icons">
            <li>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-discord"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </li>
          </ul>
        </div>
        <div class="col2">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">User</a></li>
            <li><a href="#">Contact</a></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem excepturi ipsam unde obcaecati iusto velit labore consequuntur officiis aut neque?</p>
          </ul>
        </div>
        <div class="col3">
          <p>Subscribe to our Event Arc</p>
          <form>
            <div class="input-wrap">
              <input type="email" placeholder="ex@gmail.com" /><button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
          </form>
          <ul class="services-icons">
            <li>
              <a href="#"><i class="fa-brands fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-cc-apple-pay"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-google-pay"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-cc-amazon-pay"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="mekk">
          <p>@Event Arc 2025 - All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>