* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  height: 100%;
  width: 350px;
  background-color:#0E2E50;;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px; 
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > img {
  height: 75px;
  width: 100px;
}
.list {
  width: 100%;
  padding :40px;
}
.list li {
  min-height: 58px;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
  font-size: 25px;
  transition: font-size 0.5s;
}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover,
.nav5:hover {
  font-size: 30px;
}

.nav_element {
  text-decoration: none;
  font-size: 25px;
  padding-bottom: 20px; 
  color: white;
}

.dashboard-nav {
  padding: 40px;
  margin-left: 350px;
}


.admin-header-wrapper ,.admin-table-wrapper{
  padding:1.5rem ;
}
.admin-header{
  display: flex;
  justify-content: space-between;
}
.page-title{
  /* padding:40px; */
  margin-left: 350px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #0E2E50;

}
.profile-info{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
  vertical-align: middle;
}
.profile-username{
  font-size: 1.4rem;
  font-weight: 700;
  color: #0E2E50;

}
.profile-img{
  height: 60px;
  width: 60px;
  border-radius: 50%;   
  overflow: hidden; 
}
.profile-img > img{
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.page-topic{
  /* padding:40px; */
  margin-left: 350px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0E2E50;
}

.nav2 .btn {
  background-color: #0E2E50;;
  border-color: #0E2E50;;
  color: white;
  font-size: 25px; 
  display: flex;
  align-items: center; 
  padding: 0; 
}

.nav2 .btn i {
  margin-right: 10px; 
  color: white; 
}

.nav2 .btn:hover {
  background-color: #0E2E50;; 
  border-color: #0E2E50;
}
.collapse .card {
  background-color:#0E2E50;; 
  border-color: #0E2E50;;
}

.collapse .card-body a {
  color: white;
  text-decoration: none;
}

.collapse .card-body a:hover {
  color: white;
  text-decoration: underline;
}
.collapse {
  margin-bottom: 20px;
}
.collapse .card-body ul {
  padding-left: 20px; 
}

.collapse .card-body ul li {
  font-size: 20px; 
  margin-bottom: 10px; 
  list-style-type: none;
}

.admin-table-wrapper{
  /* padding:40px; */
  padding-top: 0;
  margin-left: 350px;
}
.table-heading > th{
  white-space: nowrap;
}